In [ ]:
import pandas as pd
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold, LeaveOneOut, cross_val_score
from sklearn.metrics import accuracy_score

In [ ]:
df=sns.load_dataset("iris")

In [ ]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
x= df.drop(["species"], axis=1)
y= df[["species"]]

In [ ]:
xtrain, xtest, ytrain, ytest=train_test_split(x,y, random_state=42, test_size=.2)

In [ ]:
model=dt.fit(xtrain, ytrain)
model.score(xtrain, ytrain)

1.0

In [ ]:
pred=model.predict(xtest)
cv=accuracy_score(ytest, pred)
cv

1.0

In [ ]:
strd=StratifiedKFold()

In [ ]:
scor1=cross_val_score(dt, x,y, cv=strd)
scor1

array([0.96666667, 0.96666667, 0.9       , 0.96666667, 1.        ])